@charset "utf-8";
#logo{
    max-height: 100px;
 }

 img#banner{
    height: 525px;
    width: 1000px;
    margin-left: 250px;
    margin-bottom: 0px;
 }
 div#banner{
    background-color: rgb(50,180,210);
    background-size:auto;
    height: auto;
    width: auto;
 }